body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;

}

label{
    font-weight: bold;
}

fieldset{
    border-radius: 20px;
    background-color: #F7F7F7;
    border:none;

  
}


.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}

section {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    font-weight: normal;
    font-size: 19px;
    color: #836FFF;

}

hr{
    background-color: #836FFF;
    border: none;
    height: 1px;
}

h2,h3{
    font-weight: normal;
    font-size: 19px;
    color: #836FFF;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    background-color:#EDEDED;
    border: none;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    
   }

   input:focus{
    outline: none;
    box-shadow:0 0 10px ;
   }

   

.formacao, .experiencia {
    background-color: white;
    color: black;
    border: 1px solid ;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
}

textarea{
    height: 70px;
}

textarea:focus{
    outline: none;
    box-shadow: 0 0 8px;
}


.imprimir{
    background-color: #0000CD;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 17px;
}

.remover{
    background-color: red;
    border-radius: 5px;
    color: white;
    border: none;
}